<!-- start custom footer snippets -->
<p> Sponsored Ads </p>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5514899527859109"
   crossorigin="anonymous"></script>
<ins class="adsbygoogle" style="display:block" data-matched-content-ui-type="image_card_sidebyside"
   data-matched-content-rows-num="4" data-matched-content-columns-num="1" data-ad-format="autorelaxed"
   data-ad-client="ca-pub-5514899527859109" data-ad-slot="1924182185"></ins>
<script>
   (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- end custom footer snippets -->